# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env/
venv/
ENV/

# Database / SQLite
*.sqlite3
*.db

# Celery
celerybeat-schedule
celerybeat.pid

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
build/
devel/
dist/
*.egg-info/

# Node / Frontend
node_modules/

